* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: "Courier New", monospace;
    font-size: 12px;
    line-height: 1.9;
    min-height: 100vh;
}

.terminal {
    height: 100vh;
    padding: 10px 7px;
    font-size: 15px;

    display: flex;
    flex-direction: column;
}

.generator-panel {
    position: absolute;
    width: 300px;
    margin: 0 auto;    
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    margin-bottom: 24px;
}

.options label{
    width: 300px;
}

label {
    display: block;
    color: var(--text);
    text-transform: uppercase;
}


#length {
    width: 45px;
    color: #fff;
    font-weight: bold;
}

input {
    background: transparent;
    color: var(--text);
    border: none;
    font: inherit;
    outline: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span::before {
    content: "NO";
    cursor: pointer;
    
}

input[type="checkbox"]:checked + span::before {
    content: "YES";
    color: var(--bg);
    background: var(--text);
    cursor: pointer;
}

button {
    background: var(--bg);
    color: var(--text);
    border: 1px solid var(--border);
    padding: 4px 16px;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: var(--text);
    color: var(--bg);
}

#generate-btn {
    width: 100px;
}

#copy-btn {
    width: 60px;
    display: block;
}

.output-box {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 84px;
    border: 1px solid var(--border);
    padding: 18px 16px;
    margin-top: auto;
}

.output-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


#password {
    width: 100%;
    display: block;
    
    margin-top: auto;
    margin-bottom: 3px;
}


:root {
    --bg: #000;
    --text: #fff;
    --border: #fff;
}

body.light-mode {
    --bg: #fff;
    --text: #000;
    --border: #000;
}

body {
    background: var(--bg);
    color: var(--text);
}

